body {
  margin: 0;
  background: #0f0f0f;
  font-family: Arial, sans-serif;
  color: white;
}

header {
  background: #1a1a1a;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid #222;
}

#game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.game-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.game-card:hover {
  transform: scale(1.05);
  background: #222;
}

.game-card img {
  width: 100%;
  border-radius: 10px;
}

.game-card p {
  margin-top: 8px;
  font-size: 14px;
}
